.content {
    margin-top: 20px;

    .acts {
        display: flex;
        justify-content: space-between;
    }
}

.geneQrCode {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

    .numSOL {
        font-size: 30px;
    }
}
